body {
  margin: 0px;
  padding: 0px;
  background: #ebf4f4;
  font-family: "Helvetica";
}
body h2 {
  text-align: center;
  font-weight: 400;
  color: #373737;
}
body p {
  text-align: center;
  font-weight: 100;
  margin-top: -15px;
  color: #555555;
}

.container {
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  display: inline-block;
  cursor: pointer;
  width: 130px;
  height: 130px;
  background-color: #f5f5f5;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.12), 0 -1px 8px rgba(0, 0, 0, 0.08);
  margin: 0px 12px;
  transition: 0.7s;
}
.icon:nth-child(2) i {
  color: #ff0000;
}
.icon:nth-child(2):hover {
  background-color: #ff0000;
}
.icon:nth-child(3) i {
  color: #1dcaff;
}
.icon:nth-child(3):hover {
  background-color: #1dcaff;
}
.icon:nth-child(4) i {
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon:nth-child(4):hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.icon:nth-child(4):hover i {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
.icon i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: #3B5998;
  transition: 0.7s;
}
.icon:hover {
  transition: 0.7s;
  background-color: #3B5998;
  -webkit-animation: shadow-pop-tr 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.icon:hover i {
  color: #fff;
  transition: 0.7s;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    -webkit-transform: translateX(-6px) translateY(6px);
    transform: translateX(-6px) translateY(6px);
  }
}